.container {
    position: absolute;
    top: o;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    background-image: url('../../assets/estate3.jpg');
    background-color: rgba(0, 0, 0, .5);
    background-size: cover;
    background-blend-mode: darken;
    justify-content: center;
    align-items: center;
}

.wrapper {
    height: auto;
    width: 33vw;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
}

.wrapper>h2 {
    text-align: center;
    margin-top: 10px;
    color: #333;
    font-size: 35px;

}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form>input {
    width: 80%;
    height: 40px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid #333;
    padding: 5px;
}

form>label {
    color: black;
    font-size: 1.2em;
    margin: 10px;
    width: 80%;
    text-align: left;
}

form>label:hover {
    color: blue;
    font-weight: 600;
}

form>button {
    width: 80%;
    height: 40px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid #333;
    background-color: blue;
    color: white;
    font-size: 1.2em;
}

form>button:hover {
    background-color: rgb(8, 201, 37);
    color: black;
}

form>p {
    color: #333;
    font-size: 1.2em;
    margin: 10px;
    width: 80%;
    text-align: center;
}

form>p>a {
    color: #333;
    font-size: 1.2em;
    margin: 10px;
    width: 80%;
    text-align: center;
}

.error {
    color: red;
    font-size: 1.2em;
    margin: 10px;
    width: 80%;
    text-align: center;
}

/* responsive design */
@media (max-width: 768px) {
    .wrapper {
        height: 50vh;
        width: 80vw;
    }
}

@media (max-width: 480px) {
    .wrapper {
        height: 50vh;
        width: 90vw;
    }
}
